*
{
    font-family: 'Raleway', sans-serif;
}

#page1
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: 50px;
    margin-right: 50px;
}

.entete
{
    width: 100%; /* provisoire */
    height: 400px; /* provisoire */
    background: rgb(54, 54, 54); /* provisoire */
}
 #menu_nav
 {
    display: flex;
    flex-direction: row;
    list-style-type: none;
 }


                                /* ----------------- Sections ----------------- */




h2
{
    font-size: 16px;
    margin-top: 47px;
    margin-left: 40px;
    margin-bottom: 28px;
}
h3
{
    font-size: 12px;
    font-weight: 900;
}
.en_gras
{
    font-weight: 900;
}
.nom_prix_note, p
{
    font-size: 10px;
}
.nom_prix_note
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 16px;
}
.etoiles
{
    display: flex;
}

                                /* ----- Section1, Hébergements à Marseille ----- */

.les_hebergements
{
    width: 880px;
    height: 626px;
    background: #F2F2F2;
    border-radius: 20px;
}
.cartes_des_hebergements
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 40px;
    margin-right: 40px;
}
.carte
{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    width: 246px;
    height: 200px;
    margin-bottom: 30px;
}
.photos_hebergements
{   
    margin: 5px 5px 0px 5px;
    width: 236px;
    height: 114px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.afficher_plus
{
    margin-left: 40px;
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    color: black;
}


                                /* ----- Section2, Les plus populaires -----*/


.les_plus_pop
{
    width: 420px;
    height: 626px;
    background: #F2F2F2;
    border-radius: 20px;
}

.les_plus_pop_icone
{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-right: 40px;
}
.photos_les_plus_pop
{
    margin: 5px 0px 5px 5px;
    width: 127px;
    height: 134px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.cartes_des_plus_pop
{
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}
.carte2
{
    display: flex;
    width: 343px;
    height: 144px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    margin-bottom: 28px;
}

                                /* ----- Section3, Activités a Marseille ----- */


.les_activites
{
    width: 1340px; /* provisoire */
}
.cartes_des_activites
{
    display: flex;
    align-content: space-around;
    justify-content: space-around;
    flex-wrap: wrap;
}
.carte3
{
    width: 302px;
    border-radius: 10px;
    box-shadow: black ;

}
.photos_activites
{
    width: 100%; /* provisoire */
    border-top-left-radius: 20px; /* provisoire */
    border-top-right-radius: 20px; /* provisoire */
}
.pied_de_page
{
    width: 100%; /* provisoire */
    height: 300px; /* provisoire */
    background: rgb(66, 40, 0); /* provisoire */
}