*
{
    font-family: 'Raleway', sans-serif;
}

#header_sections
{
    padding-left: 4.5%;
    padding-right: 4.5%;
}


/* ----- Header ----- */
                                

.entete
{
    width: 100%; /* provisoire */
    display: flex;
    flex-direction: column;
}
.logo_nav
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}
.btn_nav
{
    width: 340px;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}
.btn_nav a
{
    text-decoration: none;
    color: black;
    width: 105px;
    padding: 15px;
}
.btn_inscription a
{
    font-weight: 900;
    color: #0065FC;
}
.btn_hebergements_activites a:hover
{
    border-top: 3px solid #0065FC;
    padding-top: 25px;
    color: #0065FC;
}
h1
{
    font-size: 24px;
    font-weight: 900;
    margin-bottom: -10px;
}
h1 + p
{
    font-size: 16px;
}
.barre_de_recherche
{
    display: flex;
}
.barre_de_recherche i
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 50px;
    height: 50px;
}
.btn_recherche
{
    color: white;
    background-color: #0065FC;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 135px;
    height: 50px;
}
input
{
    border: #F2F2F2 solid 1px;
    font-size: 16px;
}
.texte_recherche
{
    padding-left: 15px;
}
.filtres
{
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.filtres h3
{
    font-size: 16px; /* provisoire */
}
.les_btn_filtres
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;
    width: 60%;
}
.les_btn_filtres p
{
    font-size: 16px;
    text-decoration: none;
    margin-left: 10px; /* provisoire */
}
.les_btn_filtres a
{
    display: flex;
    align-items: center;
    border: solid #F2F2F2 2px;
    border-radius: 30px;
    padding-right: 15px;
    height: 42px;
    text-decoration: none;
    color: black;
    font-weight: 900;
}
.btn_filtres
{
    /* provisoire *//* provisoire *//* provisoire */
}
.btn_filtres i
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0065FC;
    background: #DEEBFF;
    border-radius: 30px;
    width: 45px;
    height: 45px;
    margin-left: -2px;
}
.btn_filtres:hover
{
    color: #0065FC;
    background-color: #F2F2F2;
    box-shadow: 0 0 10px #d6d6d6;
}
.i_500_logements
{
    display: flex;
    align-items: baseline;
}
.i_500_logements i
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0065FC;
    width: 25px;
    height: 25px;
    border: solid #F2F2F2 2px;
    border-radius: 30px;
    margin-right: 10px;
    font-size: 15px;
}


/* ----- Sections ----- */


main
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
h2
{
    font-size: 22px; 
    margin-top: 47px;
    margin-bottom: 28px;
}

strong
{
    font-weight: 900;
}
.nom_prix_note h3
{
    font-size: 14px;
}
.nom_prix_note p
{
    font-size: 12px;
    line-height: 0.5;
}
.nom_prix_note
{
    margin-left: 16px;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
}
.etoiles
{
    display: flex;
    flex-direction: row;
}
.fa-star
{
    font-size: 12px; /* provisoire */
    color: #0065FC;
}
.grise
{
    color: #F2F2F2;
}


/* ----- Section1, Hébergements à Marseille ----- */


.les_hebergements
{
    width: 880px;
    background: #F2F2F2;
    border-radius: 20px;
}
.les_hebergements h2,.les_plus_pop h2
{
    margin-left: 40px;
}
.cartes_des_hebergements
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 40px;
    margin-right: 40px;
}
.carte
{
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    width: 246px;
    height: 200px;
    margin-bottom: 30px;
    box-shadow: 0 0 10px #b9b9b9;
}
.carte a
{
    text-decoration: none;
    color: black;
}
.photos_hebergements
{   
    margin: 5px 5px -7px 5px; /* provisoire */
    width: 236px;
    height: 114px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
}
.afficher_plus
{
    margin-left: 50px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    color: black;
}


/* ----- Section2, Les plus populaires -----*/


.les_plus_pop
{
    width: 420px;
    background: #F2F2F2;
    border-radius: 20px;
}
.les_plus_pop_icone /* titre + icone */
{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-right: 40px;
}
.photos_les_plus_pop
{
    margin: 5px 0px 5px 5px;
    width: 127px;
    height: 134px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    object-fit: cover;
}
.cartes_des_plus_pop
{
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}

.carte2 a
{
    display: flex;
    width: 343px;
    height: 144px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    margin-bottom: 28px;
    text-decoration: none;
    color: black;
    box-shadow: 0 0 10px #b9b9b9;
}
.carte2 .nom_prix_note
{
    
    justify-content: space-between;
    margin-bottom: 10px;
}


/* ----- Section3, Activités a Marseille ----- */


.cartes_des_activites
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.cartes_des_activites a
{
    text-decoration: none;
    color: black;
}
.carte3
{
    border-radius: 20px;
    box-shadow: 0 0 10px #b9b9b9;
    height: 100%;
}
.carte3 h3
{
    margin-left: 16px;
    font-size: 14px;
    font-weight: 900;
}
.act_col_1
{
    width: 22%;
}
.act_col_2_4
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 22%;
}
.act_col_3
{
    width: 22%;
}
.photos_activites
{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    object-fit: cover;
}
.photo_act_1
{
    height: 390px;
}
.photo_act_2
{
    height: 180px;
}
.photo_act_3
{
    height: 110px;
}
.photo_act_4
{
    height: 390px;
}
.photo_act_5
{
    height: 140px;
}
.photo_act_6
{
    height: 155px;
}
footer
{
    width: 100%;
    margin-top: 50px;
    background: #F2F2F2;
}
.les_listes_footer
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 75%;
}
.liste_footer
{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    margin-top: 30px;
}
.liste_footer h3
{
    margin-left: 40px;
    margin-bottom: -5px;
}
.liste_footer ul
{
    list-style-type: none;
    line-height: 1.8em;

}
.liste_footer a
{
    text-decoration: none;
    color: black;
}

/* ----- Media queries -----*/




@media screen and (max-width: 768px)
{
    #header_sections
    {
        padding-left: 0%;
        padding-right: 0%;
    }


/* ----- Header ----- */


    .entete
    {
        margin-left: 10px;
        margin-right: 10px;
    }
    .btn_nav
    {
        display: flex;
        flex-direction: row-reverse;
    }
    .btn_recherche
    {
        display: none;
    }
    .filtres
    {
        display: flex;
        flex-direction: column;
        align-items: baseline; /* provisoire */
    }
    .les_btn_filtres
    {
        width: auto;
        margin-top: 0px;
        justify-content: flex-start;
        padding-left: 0px;
    }
    .btn_filtres
    {
        margin-bottom: 10px;
        margin-right: 15px;
    }


/* ----- Sections ----- */
    

    .les_plus_pop h2, .les_hebergements h2, .les_activites h2
    {
        margin-left: 10px;
    }
    
    
    .les_plus_pop
    {
        order: -1;
        border-radius: 0px;
    }
    
    
    .les_hebergements
    {
        width: auto; /* provisoire */
        background: none;
    }
    .cartes_des_hebergements
    {
        margin-left: 0px;
        margin-right: 0px;
        justify-content: center;
    }
    .carte
    {
        width: 343px;
    }
    .photos_hebergements
    {
        width: 333px;
    }




    .les_activites h2
    {
        margin-bottom: 0px;
    }
    .cartes_des_activites
    {
        display: flex;
        flex-direction: column;
    }
    .carte3
    {
        width: 343px;
        height: 194px;
        margin-top: 30px;
    }
    .photos_activites
    {
        height: 150px;
    }
    
    


    /* ----- Footer ----- */


    .liste_footer
    {
        flex-direction: column;
    }
}